/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
    /* border: 2px solid blue; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: hsl(0, 100%, 74%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6, button, p {
    color: white;
}

/* --- Desktop Styles ---- */
@media all and (min-width: 1440px) {
    .container {
		background-image: url('images/bg-intro-desktop.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Poppins', sans-serif;
	}

	.art {
		padding: 5%;
		width: 50%;
	}

	.desc * {
		margin: 4% auto;
		width:60%;
	}

	.desc {
		padding-right: 0;
	}

	.form {
		padding-left: 0;
	}

	.form > * {
		width: 70%;
		margin: auto;
	}

	.description {
		width: 70%;
		position: relative;
		left: 5%;
		line-height: 1.7rem;
	}

	.title {
		font-size: 2.5rem;
		font-weight: 700;
	}

	.advert {
		background-color: hsl(248, 32%, 49%);
		text-align: center;
		padding: 15px;
		border-radius: 8px;
		margin-bottom: 20px;
		box-shadow: 1px 8px rgba(0, 0, 0, 0.2);
	}

	.div-advert span {
		font-weight: bold;
	}

	form {
		background: white;
		border-radius: 8px;
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		box-shadow: 1px 8px rgba(0, 0, 0, 0.2);
	}

	form > * {
		padding: 15px;
		margin: 10px auto;
		width: 90%;
		border-radius: 6px;
		border: 1px solid hsl(246, 25%, 77%);
	}

	button {
		width: 97%;
		border: none;
		background: hsl(154, 59%, 51%);
	}

	form label {
		display: none;
	}

	small {
		font-size: .6rem;
		text-align: center;
		position: relative;
		top: -15px;
		border: none;
	}

	small a {
		color: hsl(0, 100%, 74%);
		text-decoration: none;
	}
}

/* --- Mobile Styles ---  */
@media all and (min-width: 375px) and (max-width: 1440px) {
	.container {
		background-image: url('images/bg-intro-mobile.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
		font-family: 'Poppins', sans-serif;
		padding: 5%;
	}

	.description {
		line-height: 1.7rem;
	}

	.title {
		font-size: 2.5rem;
		font-weight: 700;
		margin-bottom: 25px;
	}

	.advert {
		background-color: hsl(248, 32%, 49%);
		text-align: center;
		padding: 15px;
		border-radius: 8px;
		margin-bottom: 20px;
		box-shadow: 1px 8px rgba(0, 0, 0, 0.2);
	}

	.div-advert span {
		font-weight: bold;
	}

	form {
		background: white;
		border-radius: 8px;
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		box-shadow: 1px 8px rgba(0, 0, 0, 0.2);
	}

	form > * {
		padding: 15px;
		margin: 10px auto;
		width: 90%;
		border-radius: 6px;
		border: 1px solid hsl(246, 25%, 77%);
	}

	button {
		width: 97%;
		border: none;
		background: hsl(154, 59%, 51%);
	}

	form label {
		display: none;
	}

	small {
		font-size: .6rem;
		text-align: center;
		position: relative;
		top: -15px;
		border: none;
	}

	small a {
		color: hsl(0, 100%, 74%);
		text-decoration: none;
	}
}